<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>461647475157-0rvle1al89jldc1vahp1iv514bmmkbim.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.461647475157-0rvle1al89jldc1vahp1iv514bmmkbim</string>
	<key>API_KEY</key>
	<string>AIzaSyAK5OPqvN-fnQygYa4m020-OZY1IAQGaGo</string>
	<key>GCM_SENDER_ID</key>
	<string>461647475157</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vlad.wordlist</string>
	<key>PROJECT_ID</key>
	<string>wordlist-f9cc3</string>
	<key>STORAGE_BUCKET</key>
	<string>wordlist-f9cc3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461647475157:ios:45dbe408330c609c</string>
	<key>DATABASE_URL</key>
	<string>https://wordlist-f9cc3.firebaseio.com</string>
</dict>
</plist>